.PostSide{
    display: flex;/*to arrange what in PostSide(postShare and posts) under each other by  flex-direction: column;, otherwise posts will be nest to postshare*/
    flex-direction: column;
    gap: 1rem;/*leave space btwn  postShare and posts*/
    height: 100vh;
    overflow: auto;
}